.action {
  width: 100%;
  height: 60vh;
  background: url("../../images/bg-masthead.jpg");
  background-size: cover;
}

.action-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.action-heading h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 30px;
}

form {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"] {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 20px 20px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media screen and (max-width: 576px) {
  .action-heading h1 {
    font-size: 1.5rem;
  }

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  button {
    margin-top: 30px;
    width: 50%;
    font-size: 20px;
    padding: 10px 10px;
  }
}