.ShowCase-container {
    width: 100%;
    height: 100%;
}

.ShowCase-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ShowCase-images {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

}

.ShowCase-image .image img {
    width: 675px;

}

.ShowCase-images .image img {
    width: 675px;
    margin: 0;
    padding: 0;
}

.ShowCase-image .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0px 70px;
    margin: 0px 70px;
}

.ShowCase-image .heading h1 {
    margin-bottom: 10px;
}

.ShowCase-images .heading h1 {
    margin-bottom: 10px;
}

.ShowCase-images .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0px 70px;
    margin: 0px 70px;
}

/* Responsive styles */
@media (max-width: 992px) {
    .ShowCase-image {
        display: grid;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .ShowCase-images {
        display: grid;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

    }

    .ShowCase-image .image img {
        width: 100%;

    }

    .ShowCase-images .image img {
        width: 100%;
    }

    .ShowCase-image .heading {
        margin: 30px;
        text-align: center;
    }

    .ShowCase-images .heading {
        margin: 30px;
        text-align: center;
    }
}